In [11]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

Suc = "Sucursales.csv"
Sucursales = pd.read_csv(Suc)
Rez = "RezagoFinal.csv"
Rezago = pd.read_csv(Rez)
pd.set_option('display.max_columns', None)
Rezago[["Clave Municipio","Clave Estado","Población 2015"]]=Rezago[["Clave Municipio","Clave Estado","Población 2015"]].astype(str)
Rezago['Clave Estado'] = Rezago['Clave Estado'].apply(lambda x: x.split('.')[0])
Rezago['Clave Municipio'] = Rezago['Clave Municipio'].apply(lambda x: x.split('.')[0])
Rezago['Población 2015'] = Rezago['Población 2015'].apply(lambda x: x.split('.')[0])

In [12]:
display(Sucursales.head (2))
display(Rezago.head (2))

,ID Banco,Nombre público,Clave de Servicio,Tipo de Servicio,Clave Estado-Municipio,Clave Estado,Clave Municipio,Estado,Municipio,Latitud,Longitud
0,1,BANAMEX,241,SUCURSAL,26-43,26,43,SONORA,NOGALES,31.300127,-110.938089
1,10,BANAMEX,241,SUCURSAL,25-11,25,11,SINALOA,GUASAVE,25.561278,-108.460731

,Clave Estado-Municipio,Clave Estado,Clave Municipio,Estado,Municipio,Grado de Rezago Social 2015,Población 2015,Ranking nacional
0,32-58,32,58,Zacatecas,Santa María de la Paz,Bajo,2656,1855
1,32-15,32,15,Zacatecas,El Plateado de Joaquín Amaro,Bajo,1160,1566

In [19]:
SR=pd.merge(left=Rezago, right=Sucursales, on="Clave Estado-Municipio", how="outer" )
SRdrop = SR.dropna(how='any')
#SRdrop.isnull().sum()
SR.head(2)

,Clave Estado-Municipio,Clave Estado_x,Clave Municipio_x,Estado_x,Municipio_x,Grado de Rezago Social 2015,Población 2015,Ranking nacional,ID Banco,Nombre público,Clave de Servicio,Tipo de Servicio,Clave Estado_y,Clave Municipio_y,Estado_y,Municipio_y,Latitud,Longitud
0,32-58,32,58,Zacatecas,Santa María de la Paz,Bajo,2656,1855,7260255,BANORTE/IXE,247.0,TERMINAL PUNTO DE VENTA,32.0,58.0,ZACATECAS,SANTA MARIA DE LA PAZ,21.511920,-103.40680
1,32-58,32,58,Zacatecas,Santa María de la Paz,Bajo,2656,1855,7260288,BANORTE/IXE,247.0,TERMINAL PUNTO DE VENTA,32.0,58.0,ZACATECAS,SANTA MARIA DE LA PAZ,21.510929,-103.40799

In [20]:
SRdrop.isnull().sum()

Clave Estado-Municipio         0
Clave Estado_x                 0
Clave Municipio_x              0
Estado_x                       0
Municipio_x                    0
Grado de Rezago Social 2015    0
Población 2015                 0
Ranking nacional               0
ID Banco                       0
Nombre público                 0
Clave de Servicio              0
Tipo de Servicio               0
Clave Estado_y                 0
Clave Municipio_y              0
Estado_y                       0
Municipio_y                    0
Latitud                        0
Longitud                       0
dtype: int64

In [24]:
SRx = SRdrop.drop(SRdrop.columns[[12, 13, 14, 15]], axis=1)
SRFinal=SRx.rename(columns = {"Clave Estado_x":"Clave Estado", "Clave Municipio_x":"Clave Municipio", "Estado_x":"Estado","Municipio_x":"Municipio"})
SRFinal.sort_values(by=["Estado"], ascending=True)
SRFinal.head(2)

,Clave Estado-Municipio,Clave Estado,Clave Municipio,Estado,Municipio,Grado de Rezago Social 2015,Población 2015,Ranking nacional,ID Banco,Nombre público,Clave de Servicio,Tipo de Servicio,Latitud,Longitud
0,32-58,32,58,Zacatecas,Santa María de la Paz,Bajo,2656,1855,7260255,BANORTE/IXE,247.0,TERMINAL PUNTO DE VENTA,21.511920,-103.40680
1,32-58,32,58,Zacatecas,Santa María de la Paz,Bajo,2656,1855,7260288,BANORTE/IXE,247.0,TERMINAL PUNTO DE VENTA,21.510929,-103.40799

In [25]:
SRFinal.to_csv("Sucursales y Rezago.csv", index=False, header=True)